@font-face {
    font-family: 'Neucha';
    src: url('../../assets/Neucha-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/OpenSans-VariableFont_wdth\,wght.ttf');
}

body {
    margin: 0;
    padding: 0;
}

#main {
    margin: 0;
}

header {
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    height: 914px;
    margin: 0;
    background-color: #F5F4F0;
}

header::before {
    position: absolute;
    inset: 0;
    content: "";
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.content {
    position: relative;
    max-width: 1110px;
    margin: 100px auto;
    padding: 0;
}

.title-header {
    font-size: 72px;
    font-family: 'Neucha';
    color: #FE8A02;
    margin: 0;
    line-height: 1.2em;
    z-index: 2;
}

.black-text {
    color: #2A2626;
    white-space: nowrap;
}

.header-img {
    position: absolute;
    height: 525px;
    right: -270px;
    top: -55px;
    margin-top: 12px;
}

.article-text {
    font-size: 16px;
    color: #2A2626;
    font-family: 'Open Sans';
    line-height: 25.6px;
    margin: 0;
}

.title-and-img {
    position: relative;
    display: flex;
    flex-direction: row;
}

.column p {
    margin-top: 0;
}

.column-flex {
    display: flex;
    gap: 30px;
    margin-top: 200px;
}

.column {
    width: 50%;
}

.link-header {
    display: inline-block;
    background-color: #FE8A02;
    border: none;
    padding: 12px 24px;
    margin-top: 20px;
}

.btn-text {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.link-text {
    text-decoration: none;
    color: inherit;
}

.preview-image {
    position: relative;
    background-color: #FFFFFF;
    height: 914px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preview-image p {
    margin-top: 16px;
}

#preview-image img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 280px;
    bottom: 16px;
    height: 517px;
    width: 919px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.section-title {
    font-size: 60px;
    text-align: center;
    font-family: 'Neucha';
    font-weight: 400;
    color: #FE8A02;
    margin-bottom: 30px;
    line-height: 1.2em;
}

.section-2title {
    text-align: center;
}

.preview-footer {
    margin-top: 415px;
    background-color: #42413C;
    height: 100px;
    width: 100%;
}